.TextField-body {
	background-color: none;
	border: none;
	border: 1px solid #AACCFF;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.CheckBox {
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #8b8b8b;
	cursor: default;
}
.CheckBox-checked {
	background-image: url(../images/32x32/actions/checkbox.png);
	border: none;
	height: 32px;
	width: 32px;
}
.CheckBox-unchecked {
	margin: 8px 8px 5px 5px;
	height: 17px;
	width: 17px;
}
.CheckBox-checked-22 {
	background-image: url(../images/22x22/actions/checkbox.png);
	border: none;
	height: 22px;
	width: 22px;
}
.CheckBox-unchecked-22 {
	margin: 3px 3px 3px 3px;
	height: 14px;
	width: 14px;
}
.CheckBox-checked-16 {
	background-image: url(../images/16x16/actions/checkbox.png);
	border: none;
	height: 16px;
	width: 16px;
}
.CheckBox-unchecked-16 {
	margin: 2px 3px 2px 1px;
	height: 10px;
	width: 10px;
}

.RadioButtonGroup {
	border: 1px solid red;
}
.RadioButtonGroup-row {
	border: 1px solid blue;
}
.RadioButtonGroup-label {
	border: 1px solid green;
}
.RadioButton {
	border: 1px solid green;
	cursor: default;
	height: 32px;
	width: 32px;
}
.RadioButton-22 {
	border: 1px solid green;
	height: 22px;
	width: 22px;
}
.RadioButton-16 {
	height: 16px;
	width: 16px;
}
.RadioButton-checked {
	background-image: url(../images/32x32/actions/draw-donut.png);
}
.RadioButton-unchecked {
	background-image: url(../images/32x32/actions/draw-circle.png);
}
.RadioButton-checked-22 {
	background-image: url(../images/22x22/actions/draw-donut.png);
}
.RadioButton-unchecked-22 {
	background-image: url(../images/22x22/actions/draw-circle.png);
}
.RadioButton-checked-16 {
	background-image: url(../images/16x16/actions/draw-donut.png);
}
.RadioButton-unchecked-16 {
	background-image: url(../images/16x16/actions/draw-circle.png);
}
